.container
  %h1
    = @election.name
    in Jurisdiction
    = link_to @election_report.jurisdiction.name, @election_report.jurisdiction

  %h3 Contests
  %ul
    - @election.contests.each do |contest|
      %li
        = link_to contest.name, ved_contest_path(contest)
        - if contest.contest_gp_scope_object
          = "in #{contest.contest_gp_scope_object.name}"
  